
body {
    min-height: 100vh;
}
#qot {
    font-style: italic;
}

.link {
    text-decoration: none; 
    color: white;
}

.character{
    
    /* margin: 2rem 7rem; */
    padding: 2rem;
}

.container {
    min-height: 185px;
}

#more-quotes-box{
    min-height: 280px;
    /* display: none; */
}

.more-quote {
    display: none;
}

.errormsg {
    font-style: italic;
    display: none;
}

table > caption {
    text-align: center;
}