
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#qot {
    font-style: italic;
}

.link {
    text-decoration: none; 
    color: white;
}

.character{
    padding: 2rem;
}

.container {
   
    margin: 3rem;
}

#more-quotes-box{
    min-height: 280px;
     display: none; 
}

.more-quote {
    display: none;
}

.errormsg {
    font-style: italic;
    display: none;
    font-size: 1.5rem;
}

table > caption {
    text-align: center;
}

.footer{
    margin-top:auto ;
}
